[submodule "sembleu"]
	path = sembleu
	url = https://github.com/freesunshine0316/sembleu.git
	ignore = all
[submodule "amr-evaluation"]
	path = amr-evaluation
	url = https://github.com/mdtux89/amr-evaluation.git
	ignore = all
